name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify

      - name: Publish to Bunny Edge CDN
        uses: ayeressian/bunnycdn-storage-deploy@v2.4.1
        with:
          source: "public"
          storageZoneName: wwe-frames
          storagePassword: "${{ secrets.BUNNY_STORAGE_PASSWORD }}"
          accessKey: "${{ secrets.BUNNY_GLOBAL_API_KEY }}"
          pullZoneId: "${{ secrets.BUNNY_PULL_ZONE_ID }}"
          upload: "true"
          purgePullZone: "true"
